<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>TIW-EstimatesManagementRIA</display-name>
    <context-param>
	    <param-name>dbUrl</param-name>
	    <param-value>jdbc:mariadb://tiw.nsanitygaming.it:3306/dbgroup2</param-value>
	    <!--<param-value>jdbc:mysql://tiw.nsanitygaming.it:3306/dbgroup2</param-value>-->
	</context-param>
	<context-param>
	  <param-name>dbUser</param-name>
	  <param-value>tiw_group2_user</param-value>
	</context-param>
	<context-param>
	  <param-name>dbPassword</param-name>
	  <param-value>Ca72rt4ier5a</param-value>
	</context-param>
	<context-param>
	  <param-name>dbDriver</param-name>
	  <param-value>org.mariadb.jdbc.Driver</param-value>
	  <!--<param-value>com.mysql.cj.jdbc.Driver</param-value>-->
	</context-param>
	<!-- add filters here  -->
	<filter> 
      <filter-name>AuthChecker</filter-name>
      <filter-class>it.polimi.tiw.estimates.filters.AuthChecker</filter-class> 
 	</filter>
	<filter> 
      <filter-name>EmployeeChecker</filter-name>
      <filter-class>it.polimi.tiw.estimates.filters.EmployeeChecker</filter-class> 
 	</filter>
 	<filter> 
      <filter-name>CustomerChecker</filter-name>
      <filter-class>it.polimi.tiw.estimates.filters.CustomerChecker</filter-class> 
 	</filter>
 	<filter-mapping> 
    	<filter-name>AuthChecker</filter-name>
    	<url-pattern>/Logout</url-pattern>
    	<url-pattern>/images/*</url-pattern>
 	</filter-mapping>
 	<filter-mapping> 
    	<filter-name>EmployeeChecker</filter-name> 
    	<url-pattern>/HomeEmployee</url-pattern> 
    	<url-pattern>/CreateEstimatePrice</url-pattern>
    	<url-pattern>/AddEstimatePrice</url-pattern>
 	</filter-mapping>
 	<filter-mapping> 
    	<filter-name>CustomerChecker</filter-name> 
    	<url-pattern>/HomeCustomer</url-pattern>
    	<url-pattern>/CreateEstimate</url-pattern>
 	</filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>