@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Source+Sans+Pro&display=swap');

*{
	box-sizing:border-box;
}

.headerrow{
	content:"";
	clear:both;
	display:table;
	width:100%;
	margin: 0px;
	padding: 15px;
	background-color:#2b50aa;
	color:white;
	font-size: 30px;
}

.titlecolumn{
	float:left;
}

.titlecolumn h1{
	margin:0px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 0px;
	border:0px;
}

.titlecolumn h4{
	margin:0px;
	margin-left: 40px;
	margin-bottom: 10px;
	padding: 0px;
	border:0px;
}

header{
	margin: 0px;
	padding: 15px;
	background-color:#2b50aa;
	color:white;
	font-size: 30px;
}

header h1{
	margin:0px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 0px;
	border:0px;
}

header h5{
	margin:0px;
	margin-left: 40px;
	margin-bottom: 10px;
	padding: 0px;
	border:0px;
}

.buttoncolumn{
	float:right;
	margin-right: 20px;
	margin-top:auto;
}

.buttoncolumn a{
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:15px;	
	padding-top: 30px;
	padding:10px 20px;
}


html, body{ 
	min-height: 100vh;
	margin:0;
	padding: 0%;
	overflow: auto;
  }

body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
	min-height: 100%;	
	;
}

.container{
	content:"";
	clear:both;
	display:table;
	width:100%;
	position: relative;
	min-height: 100%;
	padding-bottom: 80px;
}

#content-wrap {
	padding-bottom: 3rem;    /* Footer height */
  }

.column{
	float:left;
	padding:10px;
	height: 100%;
}

.current {
	background-color: #b6cfff;
}

.column.column-25{
	width:25%;
	height: 100%;
}

.column.column-30{
	width:30%;
	height: 100%;
}

.column.column-33{
	width:33.33%;
	height: 100%;
}

.column.column-40{
	width:40%;
	height: 100%;
}

.column.column-45{
	width:45%;
	height: 100%;
}

.column.column-50{
	width:50%;
	height: 100%;
}

.column.column-60{
	width:60%;
	height: 100%;
}

.column.column-70{
	width:70%;
	height: 100%;
}

.column img{
	border: none;
  display: block;
  margin: 0 auto;
}

.sale {
	position: relative;
	background-color: red;
	color: white;
	font-size: 14px;
	padding: 0 2px;
	text-align: center;
	vertical-align: middle;
	margin-left: 5px;
}

footer{
	width:100%;
	height: 100%;
	/*height:70px;*/
	height: 4.5rem;
	margin:0px;
	bottom:0;
	position: fixed;
	/*position:relative;*/
	background-color:#2b50aa;
	color:white;
	text-align: center;
	font-size:14px;
}

footer p{
	padding-top:28px;
	margin: 0px;
}

.errormessage{
	color:red;
}

.productimg {
	height: 200px;
	width: 100%;
}

.productimg-large {
	height: 200px;
	width: 300px;
}

table{
	width:70%; 
    margin-left:auto; 
    margin-right:auto;
    border-collapse:collapse;
}

th{
	background-color:#2b50aa;
	color:white;
	text-align:center;
	border: 2px solid white;
	padding:5px;
	border-bottom: 1px solid #ddd;
}

td{
	text-align: center;
	padding:3px;
	border-bottom: 1px solid #ddd;
}