@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Source+Sans+Pro&display=swap');
*{
	box-sizing:border-box;
}

header{
	margin: 0px;
	padding: 15px;
	background-color:#2b50aa;
	color:white;
	font-size: 30px;
}

header h1{
	margin:0px;
	margin-left: 20px;
	margin-bottom: 20px;
	padding: 0px;
	border:0px;
}

header h5{
	margin:0px;
	margin-left: 40px;
	margin-bottom: 10px;
	padding: 0px;
	border:0px;
}

.column h4{
	margin-left:auto; 
	/*margin-left:35%;*/ 
}


.container{
	content:"";
	clear:both;
	display:table;
	width:100%;
}

.column{
	text-align:center;
}

table{
	width:70%; 
    margin-left:auto; 
    margin-right:auto;
    border-collapse:collapse;
}

th{
	background-color:#2b50aa;
	color:white;
	text-align:center;
	border: 2px solid white;
	padding:5px;
}

td{
	text-align: center;
	padding:3px;
}

th,td{
	border-bottom: 1px solid #ddd;
}