

/***************************/

.column h4{
	margin-left:auto; 
	/*margin-left:35%;*/ 
}


.container{
	content:"";
	clear:both;
	display:table;
	width:100%;
}

.column{
	text-align:center;
	height: 100%;
}

ul{
	list-style:none;
	float:left;
	padding: 0px;
}

.alertmessage{
	color: red;
}


.vertical-table thead {
	float: left;   
}

.vertical-table thead th {
	display: block;   
	background-color:#2b50aa;
	color:white;
	text-align:center;
	border: 1px solid white;
	padding: 5px;
}

.vertical-table tbody {
	float: left;   
}

.vertical-table tbody td {
	display: block;
	padding: 5.5px;
}

input[type=button]{
	background-color:#2b50aa;
	color: white;
	font-family: 'Source Sans Pro', sans-serif;
	font-size:20px;
	transition-duration: 0.4s;
	cursor: pointer;
	padding:10px 20px;
	margin-left:5px;
	margin-top:30px;
	border-radius:8px;
	border: 2px solid #3a70f1;
	position:relative;
}

input[type=button]:hover{
	background-color: #3a70f1;
	color: white;
	border: 2px solid #5b92ff;
}

