

/***************************/

.column h4{
	margin-left:auto; 
	/*margin-left:35%;*/ 
}


.container{
	content:"";
	clear:both;
	display:table;
	width:100%;
}

.column{
	text-align:center;
	height: 100%;
}


.vertical-table thead {
	float: left;   
}

.vertical-table thead th {
	display: block;   
	background-color:#2b50aa;
	color:white;
	text-align:center;
	border: 1px solid white;
	padding: 5px;
}

.vertical-table tbody {
	float: left;   
}

.vertical-table tbody td {
	display: block;
	padding: 5.5px;
}

