/*import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Source+Sans+Pro&display=swap');

*{
    /*font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;*/
    /*font-family: 'Ubuntu', sans-serif;*/
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    padding: 0px;
}
body{
    min-height: 100vh;
    position: relative;
}
.header{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    background-color: #2b50aa;;
    position: relative;
    color:white;
    box-shadow: 5px 5px 20px 5px darkgray;
}

.header hgroup{
    padding:5px;
    margin-right: 20px;
}

.header hgroup h3{
    display: inline;
    margin-left: 20px;
}

.header hgroup a{
    float: right;
    color: white;
}

.container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 80vh;
    /*background-color: yellow;*/
    padding-top: 2.0rem;
    padding-bottom: 2.0rem;
}

/*-----------------------------START OF LEFT SIDE-----------------------------------*/
.myestimates{
    width: 45%;
    height: 95%;
    /*background-color: turquoise;*/
    /*display: inline-block;*/
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px darkgray;
    margin-left: 2rem;
    padding: 1rem;
}

#div_estimate_details{
    display:flex;
    justify-content: space-between;
    padding-top: 30px;
}

#id_productimage{
    width: 300px;
    height: 200px;
    background-image: linear-gradient(to right, red , blue);
    border-radius: 8px;
}

#id_details_table{
    width: 60%;
    background-color: whitesmoke;
    margin-left: -20px;
    border-radius: 10px;
    
}

#id_details_table th{
    background-color: #2b50aa;
    color:white;
    text-align: start;
    padding: 5px;
    width: 30%;
}

#id_details_table td{
    text-align: start;
    padding: 5px;
    width: 70%;
    border-collapse: collapse;
    border-bottom: 1px solid #2b50aa;
}





/*-----------------------------START OF RIGHT SIDE-----------------------------------*/
.insertestimate{
    width: 45%;
    height: 95%;
    /*float: inline-end;*/
    position: relative;
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
    border-radius: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 20px 5px darkgray;
    margin-left: 2rem;
    padding: 1rem;
}

table.tableSection {
    /*display: table;*/
    width: 100%;
    height: 300px;
    background-color: whitesmoke;
    border-radius: 10px;
    align-items: flex-start;
    margin-left: auto;
    margin-right: auto;
    /*padding: 5px;*/
    text-align: center;
}

table.tableSection thead{background-color: #2b50aa; border-radius: 6px; color: white;}

table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
table.tableSection tbody {
    overflow: auto;
    height: 300px;
    
}
table.tableSection tr {
    width: 100%;
    padding: 3px;
    display: table;
    text-align: center;
}
table.tableSection th, table.tableSection td {
    width: 25%;
    text-align: center;
    /*padding: 3px;*/
}

/*-----------------------*/
.insertestimate>form{

}
#id_producttable{height: 100px; margin-top: 50px;}

.insertestimate table.tableSection {
    /*display: table;*/
    width: 40%;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 10px;
    align-items: flex-start;
}

.insertestimate  table.tableSection thead{background-color: #2b50aa; border-radius: 6px;}

.insertestimate  table.tableSection thead, table.tableSection tbody {
    float: left;
    width: 100%;
}
.insertestimate  table.tableSection tbody {
    overflow: auto;
    height: 200px;
    
}
.insertestimate  table.tableSection tr {
    width: 100%;
    display: table;
    text-align: left;
    text-align: center;
}
/*.insertestimate table.tableSection th, table.tableSection td {
    width: 33%;
}*/

#id_addestimateform{
    /*position: absolute;*/
    /*display: table-row;*/
    width: 90%;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: space-evenly;
    margin-top:auto;
    margin-left: auto;
    margin-right: auto;
    
    padding: 5px;
}
#id_addestimateform > legend{
    align-items: flex-start;
    /*float: left;*/
}
#id_addestimateform > #form_container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
#id_addestimateform > #id_image_pholder{
    align-items: flex-start;
    margin-left: 10px;
    margin-top: 10px;
    width: auto;
}

#id_insert_product_img{
    width: 300px;
    height: 200px;
    background-image: linear-gradient(to right, red , blue);
    border-radius: 8px;
}

#form_container > #id_optional_list_container{
    width: 50%;
    align-items: flex-end;
    /*margin-right: auto;*/
    margin-left: 20px;
}

#id_optional_list_container > p{
    text-decoration: underline;
    padding-bottom: 10px;
}

#id_optional_list_container > #id_optionallist{
    list-style-type: none;
    width: 300px; 
    height: 200px; 
    overflow: auto;
}

#id_optional_list_container > input[type=button]{
    background-color:#2b50aa;
	color: white;
	/*font-family: 'Source Sans Pro', sans-serif;*/
	font-size:20px;
	transition-duration: 0.4s;
	cursor: pointer;
	padding:10px 20px;
    margin-left:25%;
    margin-right: auto;
	margin-top:30px;
	border-radius:8px;
	border: 2px solid #3a70f1;
}

#id_optional_list_container > input[type=button]:hover{
    background-color: #3a70f1;
	color: white;
	border: 2px solid #5b92ff;
}
/*----------------------*/



.footer{
    height: 3.5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #2b50aa;
    text-align: center;
    color: white;
}

.footer p{
    padding-top: 1.25rem;
}