<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Estimate Product - Estimates Management</title>
	<link rel="icon" type="image/png" href="../favicon-32x32.png" th:href="@{/favicon-32x32.png}" sizes="32x32">
	
	<link rel="stylesheet" type="text/css" href="../css/default.css" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" type="text/css" href="../css/estimateorder.css" th:href="@{/css/estimateorder.css}"/>
</head>
<body>	
	<header class="headerrow">
		<div class="titlecolumn">
			<h1>Estimate Price page</h1>
			<h4>Employee <span th:text="${session.user.username} + ' !'">MarioRossi</span></h4>
		</div>
		<div class="buttoncolumn">
			<a th:href="@{/Logout}">Logout</a>
		</div>
	</header>

	<br>

	<div class="container">
		<div class="column column-25">
			<img alt="Product Img" src="https://dummyimage.com/250x250/000/ffffff.png&text=Product+Img"
				th:alt="${product.name}" th:src="@{/images/{image}(image=${product.image})}">
		</div>
		
		<div class="column column-45">
			 
			<table>
			  <tr>
			    <th>Customer:</th>
			    <td th:text="${customer.name} + ' ' + ${customer.surname}">Bill Gates</td>
			  </tr>
			  <tr>
			    <th>Product ID:</th>
			    <td th:text="${product.id}">35</td>
			  </tr>
			  <tr>
			    <th>Product name:</th>
			    <td th:text="${product.name}">Treno Suburbano S11</td>
			  </tr>
			  <tr>
			    <th>Optional:</th>
				    <td>
				    	<ul th:remove="all-but-first">
							<li th:each="o : ${optionals}">
								<span th:text="${o.name}">Sedili in pelle</span>
								<span class="sale" th:if="${o.type == (@it.polimi.tiw.estimates.beans.OptionalType@SALE)}" th:class="sale">SALE!</span>
							</li>
							<li>
								<span>Porta Biciclette</span>
							</li>
							<li>
								<span>Wifi</span>
							</li>
						</ul>
					</td>
			  </tr>
			</table>
			
		</div>
		
		
		<form action="#" th:action="@{/AddEstimatePrice}" method="POST" class="column column-30">
			<label>Insert the price of the product:</label><br>
			<input type="hidden" name="estimateid" th:value="${estimate.id}">
			<input type="number" step="0.01" name="price" min="0" value="0"> <span>&euro;</span>
			<input class="submitbtn" type="submit" value="Invia Prezzo">
			<p th:text="${errorMsg}"></p>
		</form>
		
	</div>
	<footer>
	  <p>Made with ❤&hearts; by Samuele Negrini, Aldo Plenzich, Mattia Sala</p>
	</footer>
</body>
</html>
