<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Estimate product page</title>
	<link rel="stylesheet" type="text/css" href="../css/default.css" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" type="text/css" href="../css/estimateorder.css" th:href="@{/css/estimateorder.css}"/>
</head>
<body>
	<header>
		<h1>Estimate Price page</h1>
		<h5>Employee <span th:text="${session.user.username}">Mario</span></h5>
	</header>

	<br>

	<div class="container">
		<div class="column column-25">
			<img alt="Product Img" src="https://dummyimage.com/250x250/000/ffffff.png&text=Product+Img">
		</div>
		
		<div class="column column-45">
			 
			<table>
			  <tr>
			    <th>Customer:</th>
			    <td th:text="${customer.name} + ' ' + ${customer.surname}">Bill Gates</td>
			  </tr>
			  <tr>
			    <th>Product ID:</th>
			    <td th:text="${product.id}">35</td>
			  </tr>
			  <tr>
			    <th>Product name:</th>
			    <td th:text="${product.name}">Dildo Gommoso</td>
			  </tr>
			  <tr>
			    <th>Optional:</th>
				    <td>
				    	<ul th:remove="all-but-first">
							<li th:each="o : ${optionals}" th:text="${o.name}">Rosso Fuoco</li>
							<li>Verde Acqua</li>
							<li>Jet Black</li>
						</ul>
					</td>
			  </tr>
			</table>
			
		</div>
		
		
		<form action="#" th:action="@{/AddEstimatePrice}" method="POST" class="column column-30">
			<label>Insert the price of the product:</label><br>
			<input type="text" name="estimateid" th:value="${estimate.id}">
			<input type="number" name="price" min="0" value="0"> <span>&euro;</span>
			<input class="submitbtn" type="submit" value="Invia Prezzo">
		</form>
		
	</div>
	<footer>
	  <p>Made with ❤️ by Samuele Negrini, Aldo Plenzich, Mattia Sala</p>
	</footer>
</body>
</html>
