<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home Customer - Estimates Management</title>
	<link rel="icon" type="image/png" href="../favicon-32x32.png" th:href="@{/favicon-32x32.png}" sizes="32x32">
	
	<link rel="stylesheet" type="text/css" href="../css/default.css" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" type="text/css" href="../css/homecustomer.css" th:href="@{/css/homecustomer.css}"/>
</head>
<body>
	<header class="headerrow">
		<div class="titlecolumn">
			<h1>Customer Page</h1>
			<h4>Welcome <span th:text="${session.user.username} + ' !'">MarioRossi</span></h4>
		</div>
		<div class="buttoncolumn">
			<a th:href="@{/Logout}">Logout</a>
		</div>
	</header>

	<!-- div of priced order -->
	<div class="container">
		<div class="column column-40">
			<h4>Your estimates:</h4>
			<p th:text="${errormsg}"></p>
			<table th:unless="${#lists.isEmpty(estimates)}">
				<thead>
					<tr>
						<th>ID</th>
						<th>Product</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="e : ${estimates}" th:class="(${e.id} == ${detailsEstimate.id}) ? 'current'">
						<td th:text="${e.id}">5</td>
						<td>
							<span th:each="p : ${products}" th:if="${e.productId} == ${p.id}" th:text="${p.name}">Treno Suburbano S11</span>
						</td>
						<td><a href="" th:href="@{/HomeCustomer(estimateid=${e.id},productid=${selectedProduct.id})}">Show</a></td>
					</tr>
				</tbody>
			</table>
			
			<br>

			<div class="column column-10"></div>

			<div class="column column-40">
				<img class="thumbnail" alt="Product Img" src="https://dummyimage.com/250x250/000/ffffff.png&text=Product+Img"
					th:if="${detailsProduct != null}" th:alt="${detailsProduct.name}" th:src="@{/images/{image}(image=${detailsProduct.image})}"/>
			</div>
			<div class="column column-50">
				<table th:if="${detailsEstimate != null}" class="table-details">
					<tr>
					<th>Employee:</th>
					<td th:text="(${detailsEmployee == null}) ? '----' : ${detailsEmployee.name + ' ' + detailsEmployee.surname}">Luca Tony</td>
					</tr>
					<tr>
					<th>Product ID:</th>
					<td th:text="${detailsProduct.id}">5</td>
					</tr>
					<tr>
					<th>Product name:</th>
					<td th:text="${detailsProduct.name}">Treno Suburbano S4</td>
					</tr>
					<tr>
					<th>Price:</th>
					<td>
						<span th:text="(${detailsEmployee == null}) ? 'Not priced yet' : ${detailsEstimate.price}">100</span>
						<span th:if="${detailsEmployee != null}">&euro;</span>
					</td>
					</tr>
					<tr>
					<th>Optional:</th>
						<td>
							<ul th:remove="all-but-first">
								<li th:each="o : ${detailsOptionals}">
								<span th:text="${o.name}">Optional 1</span>
								<span class="sale" th:if="${o.type == (@it.polimi.tiw.estimates.beans.OptionalType@SALE)}" th:class="sale">SALE!</span>
								</li>
								<li>
								<span>Optional 2</span>
								</li>
								<li>
								<span>Optional 3</span>
								<span class="sale">SALE!</span>
								</li>
							</ul>
						</td>
					</tr>
				</table>
			</div>			
		</div>

		<!-- div of non-priced order -->
		<h4>Insert a new estimates:</h4>
		<form action="CreateEstimate" method="POST" class="column column-60">
		  <fieldset>
		    <legend>Select a product:</legend>
		      <div class="column column-40">
		        <table>
		          <thead>
		            <tr>
		            	<th>ID</th>
		  				<th>Product</th>
		  			</tr>
		          </thead>
		          <tbody>
		  			<tr th:each="p : ${products}" th:class="(${p.id} == ${selectedProduct.id})? 'current'">
		  				<td>
		  					<span th:text="${p.id}"></span>
		  				</td>
		  				<td>
		  					<a th:if="${detailsEstimate != null}" th:href="@{/HomeCustomer(estimateid=${detailsEstimate.id},productid=${p.id})}"><span th:text="${p.name}"></span></a>
		  					<a th:if="${detailsEstimate == null}" th:href="@{/HomeCustomer(productid=${p.id})}"><span th:text="${p.name}"></span></a>
		  				
		  				</td>
		  			</tr>
		  		 </tbody>
		        </table>
			  </div>
		      <div class="column column-60">
		      <img class="productimg" alt="Product Img" src="https://dummyimage.com/250x250/000/ffffff.png&text=Product+Img"
		      		th:alt="${selectedProduct.name}" th:src="@{/images/{image}(image=${selectedProduct.image})}"/>
		        <h5>Select one or more options:</h5>
		        <input type="hidden" name="prdct" value="" th:value="${selectedProduct.id}">
		        
			        <ul th:remove="all-but-first" class="checkbox">
			          <li th:each="o : ${optionals}">
			            <input type="checkbox" name="option[]" value="id1" th:value="${o.id}">
		            	<span th:text="${o.name}">Optional 1</span>
		            	<span class="sale" th:if="${o.type == (@it.polimi.tiw.estimates.beans.OptionalType@SALE)}" th:class="sale">SALE!</span>
			          </li>
			          <li>
			            <input type="checkbox" name="option[]" th:value="id2">
		            	<span>Optional 2</span>
			          </li>
			          <li>
			            <input type="checkbox" name="option[]" th:value="id3">
		            	<span>Optional 3</span>
		            	<span class="sale">SALE!</span>
			          </li>
			        </ul>
			        
		        <br>
		        <input type="submit" value="Insert">
		        <p th:text=" ${errorMsg}"></p>
			  </div>
		  </fieldset>
		</form>
	</div>

	<footer>
	  <p>Made with &hearts; by Samuele Negrini, Aldo Plenzich, Mattia Sala</p>
	</footer>
</body>
</html>
