<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Home Employee - Estimates Management</title>
	<link rel="icon" type="image/png" href="../favicon-32x32.png" th:href="@{/favicon-32x32.png}" sizes="32x32">
	
	<link rel="stylesheet" type="text/css" href="../css/default.css" th:href="@{/css/default.css}"/>
</head>
<body>
	<header class="headerrow">
		<div class="titlecolumn">
			<h1>Employee Page</h1>
			<h4>Welcome <span th:text="${session.user.username} + ' !'">MarioRossi</span></h4>
		</div>
		<div class="buttoncolumn">
			<a th:href="@{/Logout}">Logout</a>
		</div>
	</header>

	<br>

	<!-- div of priced order -->

	<div class="container">
		<div class="column column-50">
			<h4>Priced estimates by you:</h4>
			<p th:text="${errormsg}"></p>
			<table th:unless="${#lists.isEmpty(pricedEstimates)}">
				<thead>
					<tr>
						<th>Estimate ID</th>
						<th>Product Name</th>
						<th>Price</th>
						<th>Details</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first">
					<tr th:each="e : ${pricedEstimates}" th:class="(${e.id} == ${detailsEstimate.id}) ? 'current'">
						<td th:text="${e.id}">5</td>
						<td>
							<span th:each="p : ${pricedProducts}" th:if="${e.productId} == ${p.id}" th:text="${p.name}">Treno Suburbano S111</span>
						</td>
						<td><span th:text="${e.price}">15</span> <span>&euro;</span></td>
						<td><a href="" th:href="@{/HomeEmployee(estimateid=${e.id})}">Show</a></td>
					</tr>
					<tr>
						<td>6</td>
						<td>
							<span>Treno S4</span>
						</td>
						<td><span>79.90</span> <span>&euro;</span></td>
						<td><a href="">Details</a></td>
					</tr>
					<tr>
						<td>8</td>
						<td>
							<span>Treno S9</span>
						</td>
						<td><span>9.75</span> <span>&euro;</span></td>
						<td><a href="">Details</a></td>
					</tr>
				</tbody>
			</table>

			<br>
			
			<div class="column column-10"></div>
			
			<div class="column column-25">
				<img class="productimg" alt="Product Img" src="https://dummyimage.com/250x250/000/ffffff.png&text=Product+Img"
	      			th:if="${detailsProduct != null}" th:alt="${detailsProduct.name}" th:src="@{/images/{image}(image=${detailsProduct.image})}"/>
			</div>
			<div class="column column-60">
				<table th:if="${detailsEstimate != null}" >
				  <tr>
				    <th>Customer:</th>
				    <td th:text="${detailsCustomer.name + ' ' + detailsCustomer.surname}">Michael Jordan</td>
				  </tr>
				  <tr>
				    <th>Product ID:</th>
				    <td th:text="${detailsProduct.id}">5</td>
				  </tr>
				  <tr>
				    <th>Product name:</th>
				    <td th:text="${detailsProduct.name}">Treno Suburbano S4</td>
				  </tr>
				  <tr>
				    <th>Price:</th>
				    <td>
				    	<span th:text="${detailsEstimate.price}">100</span>
				    	<span>&euro;</span>
				    </td>
				  </tr>
				  <tr>
				    <th>Optional:</th>
					    <td>
					        <ul th:remove="all-but-first">
					          <li th:each="o : ${detailsOptionals}">
				            	<span th:text="${o.name}">Optional 1</span>
				            	<span class="sale" th:if="${o.type == (@it.polimi.tiw.estimates.beans.OptionalType@SALE)}" th:class="sale">SALE!</span>
					          </li>
					          <li>
				            	<span>Optional 2</span>
					          </li>
					          <li>
				            	<span>Optional 3</span>
				            	<span class="sale">SALE!</span>
					          </li>
					        </ul>
						</td>
				  </tr>
				</table>
			</div> <!-- end column column-45 -->
						
		</div>

		<!-- div of non-priced order -->
		<div class="column column-50">
			<h4>Product not priced yet:</h4>
			<p th:if="${#lists.isEmpty(nonPricedEstimates)}" th:text="'There are no estimates to be priced.'"></p>
			<table th:unless="${#lists.isEmpty(nonPricedEstimates)}">
				<thead>
					<tr>
						<th>Estimate ID</th>
						<th>Product Name</th>
					</tr>
				</thead>
				<tbody th:remove="all-but-first">
					<tr th:each="e : ${nonPricedEstimates}">
						<td th:text="${e.id}">1</td>
						<td >
							<a href="EstimatePrice.html" th:href="@{/CreateEstimatePrice(estimateid=${e.id})}">
								<span th:each="p : ${nonPricedProducts}" th:if="${e.productId} == ${p.id}" th:text="${p.name}">Prodotto1</span>
							</a>
						</td>
					</tr>
					<tr>
						<td>2</td>
						<td>
							<a href="EstimatePrice.html"><span>Prodotto2</span></a>
						</td>
					</tr>
					<tr>
						<td>3</td>
						<td>
							<a href="EstimatePrice.html"><span>Prodotto3</span></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<footer>
	  <p>Made with &hearts; by Samuele Negrini, Aldo Plenzich, Mattia Sala</p>
	</footer>

</body>
</html>
