<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Customer page</title>
	<link rel="stylesheet" type="text/css" href="../css/default.css" th:href="@{/css/default.css}"/>
	<link rel="stylesheet" type="text/css" href="../css/homecustomer.css" th:href="@{/css/homecustomer.css}"/>
</head>
<body>
	<header class="headerrow">
		<div class="titlecolumn">
			<h1>Customer Page</h1>
			<h4>Welcome <span th:text="${session.user.username}">CustomerName</span></h4>
		</div>
		<div class="buttoncolumn">
			<a href="/Logout">Logout</a>
		</div>
	</header>
	
	<br>

	<!-- div of priced order -->

	<div class="container">
		<div class="column column-40">
			<h4>Your estimates:</h4>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>Product</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="p : ${products}" th:class="(${p.id} == ${productid})? 'current'">
						<td th:text="${p.id}">5</td>
						<td>
							<a th:href="@{/GoToHomeCustomer(productid=${p.id})}"><span th:text="${p.name}">Prodotto10</span></a>
						</td>
						<td>10<span>€</span></td>
					</tr>
				</tbody>
			</table>
		</div>

		<!-- div of non-priced order -->
		<form action="CreateEstimate" method="POST" class="column column-60">
		  <fieldset>
		    <legend>Select a product:</legend>
		    <div class="container">
		      <div class="column column-40">
		        <table>
		          <thead>
		            <tr>
		  				<th>Product:</th>
		  			</tr>
		          </thead>
		          <tbody>
		  			<tr th:each="p : ${products}">
		  				<td>
		  					<a th:href="@{GoToHomeCustomer(productid=${p.id})}"><span th:text="${p.name}"></span></a>
		  				</td>
		  			</tr>
		  		 </tbody>
		        </table>
		      </div>
		      <div class="column column-60">
		        <h5>Select one or more options:</h5>
		        <input type="hidden" name="prdct" value="" th:value="${productid}">
		        
			        <ul class="checkbox" th:each="o : ${optionals}">
			          <li>
			            <input type="checkbox" name="option[]" th:value="${o.id}"><span th:text="${o.name}"></span><br>
			          </li>
			        </ul>
			    
		        <br>
		        <input type="submit" value="Submit now">
		      </div>
		    </div>    
		  </fieldset>
		</form>
	</div>

	<footer>
	  <p>Made with ❤️ by Samuele Negrini, Aldo Plenzich, Mattia Sala</p>
	</footer>
</body>
</html>